.container {
  max-width: 1280px;
  width: 100%;
  flex: 1;
}

.container__padding-big {
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

@media screen and (max-width: 900px) {
  .container__padding-big {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 424px) {
  .container__padding-big {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.container__padding-middle {
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

@media screen and (max-width: 900px) {
  .container__padding-middle{
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 424px) {
  .container__padding-middle {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.container__padding-small {
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

@media screen and (max-width: 900px) {
  .container__padding-small {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 424px) {
  .container__padding-small {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container__title {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0;
}
