.tool-name {
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background-color: #E8E8E8;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .tool-name {
    width: 84px;
    height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

